/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Mar-2017, 22:07:10
    Author     : Blair Ramsay
*/

h1{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 3px;
    color: #878e8e;
    font-size: 50px;
    margin-top: 2vw;
}

#title{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 50px;
    
}

#search{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
}

div.img{
    margin:0 auto;
}

body {
    background-color : #f4fbfb;
}

.background{
    background-color : #f4fbfb;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/d0/f0/20/d0f0200e0179b4a4a498e4cbeafc2b6e.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loginbuttons{
    text-align: center;
    position: fixed;
    bottom: 0;
    border-style: none;

}



.buttons{
    text-align: center;
}

#buttons{
    background-color: #adf7f7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}


#create{
    background-color: #adf7f7;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float:right;
    background-color: #adf7f7;
    border: none;
    color: grey;
}

#create1{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float:left;
    background-color: #adf7f7;
    border: none;
    color: grey;
}

.login{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 3px;
    color: #878e8e;

}

.welcome{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 2px black;
}

.about{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 3px;
    color: #878e8e;
}



#username{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;

}

#logout{
    background-color: #adf7f7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.results{
    border-style: groove;
    border-color: white;
    padding: 20px 20px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 3px;
    color: #878e8e;
/*    width: 80%;*/
    margin-left: 10vw;
    margin-right: 10vw;
    
    
}

#delete{
    background-color: #fb2727;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#password{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
}

select{
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

#login{
    background-color: #adf7f7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="file"] {
    display: none;
}

.uploadPic{
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float: inside;
    background-color: #adf7f7;
    border: none;
    color: grey;
}

.proPic{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.itemImg{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: right;
}

#map-wrapper {
    height: calc(50% - 7rem);
    position: relative;
    clear: both;
    margin-bottom: 1vw;
}
#map {
     height: calc(50% - 7rem);
    position: relative;
    clear: both;
    margin-bottom: 1vw;
    
    
}

#map-info {
    line-height: 1rem;
    font-size: 0.6rem;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C12828;
    color: white;
    font-size: 24px;
    padding-left: 20%;
    position: absolute;
    bottom: 0;


}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    text-decoration: underline;

}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

body {margin:0;}*/